h1 {
  text-align: center;
}

img {
  float: right;
}

.my-intro {
  margin: 12px;
  border: 2px;
  padding: 10px;
}

.highlight {
    color: blue;
}

.sidebar {
  width: 100%;
  float: left;
}

.column {
  width: 300px;
  float; center;
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
